<!DOCTYPE html>
<html>
<head>
  <title>零钱大作战</title>

  <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-nav-wizard-master/dist/bootstrap-nav-wizard.css">
  <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-select-1.10.0/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-datetimepicker-2.3.8/css/bootstrap-datetimepicker.min.css">
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>

  <script type="text/javascript" src="/static/plugins/jquery-1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/plugins/bootstrap-select-1.10.0/dist/js/bootstrap-select.min.js"></script>
  <script type="text/javascript" src="/static/plugins/bootstrap-filestyle-1.2.1/src/bootstrap-filestyle.min.js"></script>
  <script type="text/javascript" src="/static/plugins/moment-2.12.0/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker-2.3.8/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker-2.3.8/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= yield :scripts %>

  <%= csrf_meta_tags %>

</head>
<body class="admin_container">

  <%= render 'admin/shared/header_with_signed'%>

  <div class='notifications top-right'></div>
  <div class="admin_content col-md-offset-1 col-md-10">
    <%= render 'admin/shared/flash' %>

    <%= yield %>
  </div>

  <%=render "admin/shared/footer"%>
</body>
</html>
